@import "./extends/icons";

%fullsize {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

%button {
  @extend %flex-center;
  box-sizing: border-box;
  vertical-align: middle;
  outline: none;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

%background-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

%flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
