@mixin ifmobile {
  @media only screen and (max-width: 480px), only screen and (max-width: 768px) {
    @content;
  }
}

@mixin iftablet {
  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    @content;
  }
}

@mixin ifdesktop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin respond($media) {
  @media only screen and (max-width: $media) {
    @content;
  }
}

@mixin respondFrom($media) {
  @media only screen and (min-width: $media) {
    @content;
  }
}

@mixin respondBetween($start, $end) {
  @media only screen and (min-width: $start) and (max-width: $end) {
    @content;
  }
}

@mixin respondH($media) {
  @media only screen and (max-height: $media) {
    @content;
  }
}

@mixin respondHFrom($media) {
  @media only screen and (min-height: $media) {
    @content;
  }
}

@mixin ifparent($selector) {
  #{$selector} & {
    @content;
  }
}

@mixin iftouch {
  @media (any-hover: none) {
    @content;
  }
}

@mixin ifnotouch {
  @media (any-hover: hover) {
    @content;
  }
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {color:$color;}
  &::-moz-placeholder          {color:$color;}
  &:-moz-placeholder           {color:$color;}
  &:-ms-input-placeholder      {color:$color;}
}
