$font-sans-serif: 'Manrope', 'sans-serif';

$color-white: #FFFFFF;
$color-black: #130b04;
$color-gray: #81807f;
$color-gray-light: #f4f7fa;
$color-purple: #7c4198;
$color-purple-light: #caa9d9;
$color-purple-light-1: #decde4;
$color-yellow: #fecc4b;
$color-yellow-light: #fede89;

$size-title-big: 29px;
$size-title-regular: 20px;

$size-title-big-tablet: 26px;
$size-title-regular-tablet: 18px;

$size-title-big-mobile: 17px;
$size-title-regular-mobile: 15px;

$size-text-regular: 17px;
$size-text-regular-tablet: 15px;
$size-text-regular-mobile: 13px;

$size-button-regular: 16px;
$size-button-regular-tablet: 15px;
$size-button-regular-mobile: 13px;

$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
