<script>
/*
require:
- store/core/state/popup - string
- store/core/mutations/setPopup - string
- vw body width for scroll compensation

usage:
set popup name via mutation
*/
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'Popup',
  props: {
    name: {
      type: String,
      required: true, // success
    },
    transition: {
      type: String,
      default: 'fade', // fade
    },
  },
  data() {
    return {
      isIOs: false,
      wrapper: null,
      close: null,
    };
  },
  computed: {
    ...mapState('core', ['popup']),
    isActive() {
      return this.popup === this.name;
    },
  },
  watch: {
    isActive(newVal) {
      newVal ? this.$scroll.disable() : this.$scroll.enable();
    },
  },
  mounted() {
    window.addEventListener('keydown', this.onKeydown);
  },
  destroyed() {
    this.$scroll.enable();
    window.removeEventListener('keydown', this.onKeydown);
  },
  methods: {
    ...mapMutations('core', ['setPopup']),
    onKeydown(event) {
      if (event.keyCode === 27) {
        this.closePopup();
      }
    },
    closePopup() {
      this.$emit('close');
      this.setPopup('');
    },
  },
};
</script>

<template>
  <transition :name="transition">
    <div v-if="isActive" :class="[`popup_${name}`]" class="popup">
      <div class="popup__overlay" @click="closePopup" />
      <div class="popup__scroll-container">
        <div ref="wrapper" class="popup__content-wrapper">
          <div ref="content" class="popup__content">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<style lang="scss">
.popup {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 100;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.2;
    background: $color-black;
  }

  &__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    flex-flow: column;
    pointer-events: none;
  }

  &__content {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    pointer-events: none;
    background-color: $color-white;
    padding: 0 32px;
    height: 150px;
    color: $color-black;
    @extend %flex-center;
    * {
      pointer-events: all;
    }
  }
}
</style>
