<script>
import Popup from '@/components/Popup';
export default {
  name: 'PopupSuccess',
  components: { Popup },
};
</script>

<template>
  <Popup name="success" class="popup-success">
    <VTitle size="big" el="div" class="popup-success__title">Заявка принята</VTitle>
  </Popup>
</template>

<style lang="scss">
.popup-success {
}
</style>
