<script>
import { mapState } from 'vuex';
import VueMasonryWall from 'vue-masonry-wall';
import TrendsItem from '@/components/TrendsItem';
export default {
  name: 'Trends',
  components: { TrendsItem, VueMasonryWall },
  data() {
    return {
      options: {
        width: 320,
        padding: {
          default: 15,
          2: 10,
          3: 10,
        },
        throttle: 300,
      },
    };
  },
  computed: {
    ...mapState('core', ['trends']),
  },
};
</script>

<template>
  <Container class="trends">
    <VTitle size="big" el="h1" class="trends__title">Текущие направления поддержки</VTitle>
    <VueMasonryWall :items="trends" :options="options" :ssr="{ columns: 1 }" class="trends__items-wrapper">
      <template #default="{ item }">
        <TrendsItem
          :title="item.title"
          :description="item.description"
          :link="item.link"
          :is-application="item.isApplication"
          class="trends__item"
        />
      </template>
    </VueMasonryWall>
  </Container>
</template>

<style lang="scss">
.trends {
  @include ifdesktop {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  @include iftablet {
    padding-top: 40px;
    padding-bottom: 90px;
  }
  @include ifmobile {
    padding-top: 25px;
    padding-bottom: 60px;
  }
  &__title {
    @include ifdesktop {
      margin-bottom: 40px;
    }
    @include iftablet {
      margin-bottom: 30px;
    }
    @include ifmobile {
      margin-bottom: 20px;
    }
  }

  &__items-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.masonry-column {
  @include iftablet {
    flex-basis: 50% !important;
  }
  @include ifdesktop {
    flex-basis: 33% !important;
  }
}
</style>
