<script>
import { mapMutations } from 'vuex';

export default {
  name: 'TrendsItem',
  props: {
    title: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    link: {
      type: String,
      default: '',
    },
    isApplication: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    ...mapMutations('core', ['setPopup']),
  },
};
</script>

<template>
  <div class="trends-item">
    <VTitle el="h2" class="trends-item__title">
      <span v-html="title" />
    </VTitle>
    <div class="trends-item__description-wrapper">
      <VText class="trends-item__description">
        <span v-html="description" />
      </VText>
      <div class="trends-item__buttons-wrapper">
        <VButton :href="link" color="purple" class="trends-item__button trends-item__button_details">Подробнее</VButton>
        <VButton
          v-if="isApplication"
          color="yellow"
          class="trends-item__button trends-item__button_application"
          @click.native="setPopup('success')"
        >
          Подать заявку
        </VButton>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.trends-item {
  background-color: $color-white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  border-radius: 5px;
  @include ifdesktop {
    padding: 20px 0 55px;
  }
  @include iftablet {
    padding: 20px 0 45px;
  }
  @include ifmobile {
    padding: 15px 0 40px;
  }
  &:hover {
    transform: translate(0, -7px);
    box-shadow: 0 0 35px rgba($color-purple, 0.6);
  }
  &__title {
    position: relative;
    @include ifdesktop {
      padding: 0 25px;
      margin-bottom: 25px;
    }
    @include iftablet {
      padding: 0 20px;
      margin-bottom: 20px;
    }
    @include ifmobile {
      padding: 0 15px;
      margin-bottom: 20px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: $color-purple-light-1;
    }
  }

  &__description-wrapper {
    @include ifdesktop {
      padding: 0 25px;
    }
    @include iftablet {
      padding: 0 20px;
    }
    @include ifmobile {
      padding: 0 15px;
    }
  }

  &__description {
    @include ifdesktop {
      margin-bottom: 25px;
    }
    @include iftablet {
      margin-bottom: 20px;
    }
    @include ifmobile {
      margin-bottom: 30px;
    }
  }

  &__buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__button {
    &_details {
      @include ifdesktop {
        margin-right: 10px;
      }
      @include iftablet {
        margin-right: 10px;
      }
      @include ifmobile {
        margin-right: 15px;
      }
    }
    &_application {
      &::before {
        content: '';
        @extend %icon-application;
        @include ifdesktop {
          margin-right: 20px;
        }
        @include iftablet {
          margin-right: 15px;
        }
        @include ifmobile {
          margin-right: 15px;
        }
      }
    }
  }
}
</style>
