<script>
export default {
  name: 'Container',
};
</script>

<template>
  <div class="container">
    <slot />
  </div>
</template>

<style lang="scss">
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  @include ifdesktop {
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 32px; // компенсация скроллбара
  }
  @include iftablet {
    width: 100%;
    padding-left: 35px;
    padding-right: 62px; // компенсация скроллбара
  }
  @include ifmobile {
    width: 100%;
    padding-left: 15px;
    padding-right: 32px; // компенсация скроллбара
  }
}
</style>
