<script>
import defineTagName from '@/mixins/defineTagName';
export default {
  name: 'VButton',
  mixins: [defineTagName],
  props: {
    color: {
      type: String,
      default: '', // purple, yellow
    },
    size: {
      type: String,
      default: 'regular',
    },
  },
};
</script>

<template>
  <component v-bind="attrs" :class="[`v-button_${size}`, `v-button_${color}`]" class="v-button">
    <slot />
  </component>
</template>

<style lang="scss">
.v-button {
  @extend %button;
  transition: opacity 0.3s, background-color 0.3s;
  &:active {
    opacity: 0.7;
  }
  &:disabled {
    opacity: 0.7;
    pointer-events: none;
    cursor: default;
  }
  &_regular {
    line-height: 1;
    font-weight: 500;
    border-radius: 5px;
    @include ifdesktop {
      font-size: $size-button-regular;
      height: 50px;
      padding: 0 15px;
    }
    @include iftablet {
      font-size: $size-button-regular-tablet;
      height: 45px;
      padding: 0 15px;
    }
    @include ifmobile {
      font-size: $size-button-regular-mobile;
      height: 40px;
      padding: 0 13px;
    }
  }

  &_purple {
    background-color: $color-purple;
    box-shadow: 0 5px 10px rgba(124, 65, 152, 0.3);
    color: $color-white;
    &:hover {
      background-color: $color-purple-light;
    }
  }

  &_yellow {
    background-color: $color-yellow;
    box-shadow: 0 em(5px) em(10px) rgba(254, 218, 50, 0.3);
    &:hover {
      background-color: $color-yellow-light;
      color: #81807f;
    }
  }
}
</style>
