<script>
import defineTagName from '@/mixins/defineTagName';
export default {
  name: 'VText',
  mixins: [defineTagName],
  props: {
    size: {
      type: String,
      default: 'regular',
    },
  },
};
</script>

<template>
  <component v-bind="attrs" :class="`v-text_${size}`" class="v-text">
    <slot />
  </component>
</template>

<style lang="scss">
.v-text {
  &_regular {
    line-height: 1.35;
    font-weight: 400;
    @include ifdesktop {
      font-size: $size-text-regular;
    }
    @include iftablet {
      font-size: $size-text-regular-tablet;
    }
    @include ifmobile {
      font-size: $size-text-regular-mobile;
    }
  }
}
</style>
