<script>
import defineTagName from '@/mixins/defineTagName';
export default {
  name: 'VTitle',
  mixins: [defineTagName],
  props: {
    size: {
      type: String,
      default: 'regular', // big, regular
    },
    el: {
      type: String,
      default: 'div', // div, h1, h2
    },
  },
};
</script>

<template>
  <h1 v-if="el === 'h1'" :class="`v-title_${size}`" class="v-title">
    <slot />
  </h1>
  <h2 v-else-if="el === 'h2'" :class="`v-title_${size}`" class="v-title">
    <slot />
  </h2>
  <div v-else-if="el === 'div'" :class="`v-title_${size}`" class="v-title">
    <slot />
  </div>
</template>

<style lang="scss">
.v-title {
  margin-top: 0;
  &_big {
    line-height: 1.2;
    font-weight: 600;
    @include ifdesktop {
      font-size: $size-title-big;
    }
    @include iftablet {
      font-size: $size-title-big-tablet;
    }
    @include ifmobile {
      font-size: $size-title-big-mobile;
    }
  }

  &_regular {
    line-height: 1.35;
    font-weight: 600;
    @include ifdesktop {
      font-size: $size-title-regular;
    }
    @include iftablet {
      font-size: $size-title-regular-tablet;
    }
    @include ifmobile {
      font-size: $size-title-regular-mobile;
    }
  }
}
</style>
