<script>
import calcVh from '../mixins/calcVh';
import checkEnv from '../mixins/checkEnv';
import isLoading from '../mixins/isLoading';
import isNoTransition from '../mixins/isNoTransition';
import PopupSuccess from '@/components/PopupSuccess';
export default {
  components: { PopupSuccess },
  mixins: [calcVh, checkEnv, isLoading, isNoTransition],
};
</script>

<template>
  <div :class="{ is_loading: isLoading, 'is_no-transition': isNoTransition }" class="layout layout-default">
    <nuxt class="layout-default__page" />
    <PopupSuccess />
  </div>
</template>

<style lang="scss">
.layout-default {
  &__page {
  }
}
</style>
