<script>
import Trends from '@/components/Trends';
export default {
  components: { Trends },
  async fetch({ store }) {
    await store.dispatch('core/loadData');
  },
};
</script>

<template>
  <div class="page page-index">
    <Trends class="page-index__trends" />
  </div>
</template>

<style lang="scss">
.page-index {
}
</style>
