html {
  font-size: (16/900)*100vh;
  font-family: $font-sans-serif;
  color: $color-black;
  background-color: $color-gray-light;
  position: relative;
  overflow-x: hidden;
  @include ifmobile {
    height: 100vh;
  }
}

@media screen and (max-aspect-ratio: 1920/960) {
  html {
    font-size: (16/1920)*100vw;
  }
}

html {
  @include ifmobile {
    font-size: (16/360) * 100vw;
  }
  @include iftablet {
    font-size: 21.33px; // размер шрифта при переходе от мобильной к планшетной
  }
}

body {
  -webkit-overflow-scrolling: touch;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

p {
  margin: 0;
}

.layout {}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

.is_no-transition {
  transition: none !important;
  transition-delay: 0s !important;
  &:before, &:after {
    transition: none !important;
    transition-delay: 0s !important;
  }
  * {
    transition: none !important;
    transition-delay: 0s !important;
    &:before, &:after {
      transition: none !important;
      transition-delay: 0s !important;
    }
  }
}

nobr {
  white-space: nowrap;
}
