@font-face {
  font-family: 'Manrope';
  src:
          url('~static/fonts/Manrope-Bold.woff2') format("woff2"),
          url('~static/fonts/Manrope-Bold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src:
          url('~static/fonts/Manrope-Medium.woff2') format("woff2"),
          url('~static/fonts/Manrope-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src:
          url('~static/fonts/Manrope-Regular.woff2') format("woff2"),
          url('~static/fonts/Manrope-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}